.parent {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    
}


.innerDiv {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    
    padding: 90px;
    
    



}